// Breakpoints
$mobile-breakpoint: 500px;


// Colors
$dark-gray: #222;
$light-gray: #999;
$medium-gray: #636b6f;
$faded-red: #7f0000;
$bold-red: #e80202;
$code-gray: rgb(218, 218, 218);
$code-green: rgb(160, 191, 122);
$code-red: rgb(223, 107, 104);
$code-blue: rgb(119, 156, 232);
$code-purple: rgb(193, 142, 227);
$code-orange: rgb(246, 196, 105);


// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;