
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Highlights (Code)
@import url(https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css);

// Font Awesome
// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
// @import "~@fortawesome/fontawesome-free";

.hljs{ background: none; color: $code-blue; }
.php.hljs{ color: $code-blue; }
.hljs-attr, .hljs-attribute, .javascript, .hljs-name, .hljs-tag{ color: $code-red; }
.hljs-number{
    color: $code-red;
}
.hljs-attribute{
    color: white;
}
.hljs-string { color: $code-green; }
.hljs-title { color: $code-blue; }
.hljs-keyword { color: $code-purple; }
.hljs-selector-class { color: $code-orange; }
.hljs-variable { color: $code-gray; }

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body {
    background-color: #212121;
    color: $light-gray;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
h1{
  font-family: 'Raleway', sans-serif;
    color: $code-red;
}
h2{
    color: $code-orange;
    margin-top: 40px;
}
h3{
    color: lighten($code-orange, 10%);
    margin-top: 25px;
}
h4,h5,h6{
    color: lighten($code-orange, 15%);
    margin-top: 25px;
}
img{
    max-width: 100%;
}
a{
    color: #333;
    text-decoration: underline;
}
a:hover{
    color: #333;
    border-bottom: #e80202 solid 1px;
}
pre{
    border: #4e4e4e 1px solid;
    background: rgb(38,50,56);
}
pre code{
    white-space: pre;
}
.padding{
    &-10{
        padding: 10px !important;
    }
    &-20{
        padding: 20px !important;
    }
    &-30{
        padding: 30px !important;
    }
    &--top{
        &-10{
            padding-top: 10px !important;
        }
        &-20{
            padding-top: 20px !important;
        }
        &-30{
            padding-top: 30px !important;
        }
    }
    &--right{
        &-10{
            padding-right: 10px !important;
        }
        &-20{
            padding-right: 20px !important;
        }
        &-30{
            padding-right: 30px !important;
        }
    }
    &--bottom{
        &-10{
            padding-bottom: 10px !important;
        }
        &-20{
            padding-bottom: 20px !important;
        }
        &-30{
            padding-bottom: 30px !important;
        }
    }
    &--left{
        &-10{
            padding-left: 10px !important;
        }
        &-20{
            padding-left: 20px !important;
        }
        &-30{
            padding-left: 30px !important;
        }
    }
}.margin{
    &-10{
        margin: 10px !important;
    }
    &-20{
        margin: 20px !important;
    }
    &-30{
        margin: 30px !important;
    }
    &--top{
        &-10{
            margin-top: 10px !important;
        }
        &-20{
            margin-top: 20px !important;
        }
        &-30{
            margin-top: 30px !important;
        }
    }
    &--right{
        &-10{
            margin-right: 10px !important;
        }
        &-20{
            margin-right: 20px !important;
        }
        &-30{
            margin-right: 30px !important;
        }
    }
    &--bottom{
        &-10{
            margin-bottom: 10px !important;
        }
        &-20{
            margin-bottom: 20px !important;
        }
        &-30{
            margin-bottom: 30px !important;
        }
    }
    &--left{
        &-10{
            margin-left: 10px !important;
        }
        &-20{
            margin-left: 20px !important;
        }
        &-30{
            margin-left: 30px !important;
        }
    }
}
.no-border{
    border: none !important;
}
.no-underline{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}
.no-background{
    background: none !important;
    background-color: none !important;
}
.dark-gray-background{
    background-color: #222 !important;
}
.black-background{
    background-color: #000 !important;
}
.blue-background{
    background-color: #004063;
}
.blue-text{
    background-color: #004063;
}
.white-text{
    color: #fff;
}
.dark-text{
    color: #333;
}
.light-gray-text{
    color: #9f9f9f;

    &:hover{
        color: lighten(#9f9f9f, 10%);
    }
}
.white-text a{
    color: #fff;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}
.auto-center{
    margin: 0 auto;
}

/*
 * BOOTSTRAP OVERRIDES
 */
.panel{
    margin-bottom: 22px;
    background-color: #fff;
    border: none;
    border-radius: 0px; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);

    &--auto-width{
        width: fit-content;
    }

    &--auto-center{
        margin: 0 auto;
    }
}
.panel .panel-header{
    min-height: 3em;
    padding: 10px 15px;
    background-color: #004063;
    border-top: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel .panel-body{
    padding: 10px 15px;
}
.panel .panel-footer{
    min-height: 3em;
    padding: 10px 15px;
    background-color: #004063;
    border-top: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*
 * HEADER NAV STYLES
 */
.header{
    width: 100%;
    text-align: center;
    margin-bottom: 3em;

    .logo{
        font-size: 3em;
        font-weight: 300;
        padding-top: 1em;

        a{
            color: $light-gray;
            text-decoration: none;
        }
    }
    
    .links{
        padding-top: 1em;
        color: $light-gray;
        padding-bottom: 2em;
    }
}
.links.light{
    color: $light-gray;
}


/*
 * ICONS
 */
.icon{
    &--light-gray{
        svg{
            fill: $light-gray;
        }
    }

    &--2x{
        height: 2em;
        width: 2em;

        svg{
            height: 2em;
            width: 2em;
        }
    }

    &--3x{
        height: 3em;
        width: 3em;

        svg{
            height: 3em;
            width: 3em;
        }
    }
}



/*
 * BLOG ARTICLE STYLES
 */
// .article{
//     background: #fff;
//     box-shadow: #6b6b6b 0px 0px 15px 0px;
// }
// .article > .title{
//     font-size: 50px;
// }
// .article > .body{
//     margin-bottom: 2em;
// }




/*
 * PORTFOLIO STYLES
 */





.full-height {
    min-height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;              
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.title {
    font-size: 84px;
    margin-bottom: 10px;
}
.content {
    text-align: center;
    // max-width: 70%;
    padding-top: 4em;
    padding-bottom: 4em;
    background: none;

    p{
        a{
            color: $light-gray;
            text-decoration: none;
        }
    }

    &.blog{
        .article{
            
            h2{
                border-bottom: none;
                text-align: left;

                a{
                    border-bottom: $faded-red 1px solid;
                    transition: all .5s ease;
                    color: white;
                    line-height: 1.3em;

                    &:hover{
                        border-bottom-color: $bold-red;
                        border-bottom-width: 3px;

                        svg{
                            transform: translateX(.5rem);
                            fill: $bold-red;
                        }
                    }

                    svg {
                        fill: $faded-red;
                        display: inline-block;
                        width: 2.5rem;
                        height: 2.5rem;
                        vertical-align: middle;
                        margin-left: 1rem;
                        transition: transform .5s ease;
                    }
                }
            }

            .excerpt{
                color: white;
                text-align: left;
            }
        }
    }

    .excerpt{
        color: white;
        padding: 30px 30px 30px 0;
    }
    
    h1{
        text-transform: uppercase;
        color: white;
        width: fit-content;

        &.title{
            margin: 0 auto;
            padding-bottom: 1em;
            content: '';
        }
    }
    
    h2{
        text-transform: uppercase;
        color: white;
        padding-bottom: 9px;
        border-bottom: #e80202 solid 1px;
        width: fit-content;
    }

    p{
        color: white;
        padding-bottom: 30px;

        // ul{
        //     color: $light-gray;
        // }
    }

    figure.image{
        figcaption{
            min-height: 3em;
            padding: 30px;
            color: $light-gray;
            background-color: $dark-gray;
            border-top: none;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5)
        }
    }
}
.links.light > a {
    color: $light-gray;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links.light > a.active {
    color: #e80202;
    padding-bottom: 9px;
    border-bottom: #e80202 solid 1px;
}
.links.light > a:hover {
    color: #fff;
    padding-bottom: 9px;
    border-bottom: #e80202 solid 1px;
}
.links > a {
    color: #212121;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links > a.active {
    color: #333;
    padding-bottom: 9px;
    border-bottom: #333 solid 1px;
}
.links > a:hover {
    color: #333;
    padding-bottom: 9px;
    border-bottom: #333 solid 1px;
}
.hideElement{
    display: none;
}
.body{
    padding: 30px;
    // color: #000;
    font-family: 'Open Sans', sans-serif;
}


/*
 * INTRODUCTION TYPING STYLES
 */

.intro{
    text-align: center;
    max-width: 70%;
    padding-bottom: 2em;
}

.title.intro{
    max-width: 100%;
    color: $light-gray;
    padding-bottom: 0;
}

.typed{
    padding: 0 0 3em 0;
    color: $light-gray;
    font-weight: 300;
    font-size: 1.5em;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}



@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*
 * Article Tags
 */
.tag{
    background-color: #888;
    color: #fff;
    width: fit-content;
    padding: 5px;
    display: table-cell;

    &.danger{
        background-color: #7f0000;
    }

    &.caution{
        background-color: #7f5e00;
    }
}


/*
 * Responsive custom styles
 */
@media (max-width: 1600px){
  .content{
    // max-width: 95%;
  }
}
/*@media (max-width: 850px){
  .flex-center{
    align-items: initial;
  }
}*/
@media (max-width: 430px){
  .links > a{
    line-height: 3em;
  }
}


@media (max-width: $mobile-breakpoint){ // or #{$retina}
    h1{
        text-align: left;

        &.title{
            font-size: 50px;
        }
    }
}